/* Simple CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%; /* 62.5*16px(base) = 10px */
  }
  
  html, body {
    height: 100%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal; /* Prevents boldness by default */
  }
  
  ul, ol {
    list-style: none; /* Removes default list styling */
  }
  
  a {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Makes link color inherit from parent */
  }
  
  img {
    max-width: 100%; /* Makes images responsive */
    height: auto; /* Maintains aspect ratio */
  }